/* Write your CSS here */
* {
  margin: 0px;
}

.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  padding: 20px;
}

.ipl-logo {
  height: 50px;
  width: 50px;
}

.ipl-heading {
  font-family: Bree Serif;
  color: #ffffff;
  font-size: 45px;
  margin-left: 10px;
}

.ipl-heading-container {
  display: flex;
  justify-content: center;
}
